<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="12850JayLagorio.NightscoutUploader" Publisher="CN=FBEF3CAF-AA6B-4D9F-9489-07B220763A3B" Version="1.2.0.0" />
  <mp:PhoneIdentity PhoneProductId="7944e2e9-cb72-4ce5-8816-5b09c21d77a0" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Nightscout Uploader</DisplayName>
    <PublisherDisplayName>Jay Lagorio</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Windows_Universal_Uploader.App">
      <uap:VisualElements DisplayName="Nightscout Uploader" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="A Nightscout uploader for Windows supporting Dexcom G4 blood glucose receivers." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <!-- To access public and private Nightscout instances -->
    <!-- To access Bluetooth pump/CGM devices where possible -->
    <!-- To access serial upload devices -->
    <!-- To support the Medtronic CareLink USB stick when using the WinUSB driver -->
    <!-- To support the Bayer Contour NextLink meter -->
    <DeviceCapability Name="bluetooth" />
    <DeviceCapability Name="serialcommunication">
      <Device Id="any">
        <Function Type="name:serialPort" />
      </Device>
    </DeviceCapability>
    <DeviceCapability Name="usb">
      <Device Id="vidpid:0A21 8001">
        <Function Type="winUsbId:a5dcbf10-6530-11d2-901f-00c04fb951ed" />
      </Device>
    </DeviceCapability>
    <DeviceCapability Name="humaninterfacedevice">
      <Device Id="vidpid:1A79 6200">
        <Function Type="usage:FF40 0001" />
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>